In [1]:
# import Dependencies
import pandas as pd
import gmaps
import requests
# import API Key
from config import g_key

In [2]:
# read the CSV stored in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faanui,PF,2022-07-21 16:32:20,-16.4833,-151.7500,77.22,73,19,12.39
1,1,Tuktoyaktuk,CA,2022-07-21 16:32:21,69.4541,-133.0374,51.80,87,100,2.30
2,2,Chokurdakh,RU,2022-07-21 16:32:22,70.6333,147.9167,37.53,55,94,7.54
3,3,Geraldton,AU,2022-07-21 16:32:23,-28.7667,114.6000,61.63,62,54,11.65
4,4,Norman Wells,CA,2022-07-21 16:32:24,65.2820,-126.8329,60.84,88,75,0.00
...,...,...,...,...,...,...,...,...,...,...
575,575,Joao Pinheiro,BR,2022-07-21 16:44:47,-17.7425,-46.1725,81.59,30,1,7.63
576,576,Salamiyah,SY,2022-07-21 16:44:48,35.0113,37.0532,79.97,47,0,17.25
577,577,Lamar,US,2022-07-21 16:44:48,33.6668,-95.5836,96.78,52,100,6.91
578,578,Margate,GB,2022-07-21 16:44:49,51.3813,1.3862,69.12,74,57,5.01
579,579,Kavieng,PG,2022-07-21 16:44:49,-2.5744,150.7967,81.00,80,100,10.04

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API Key
gmaps.configure(api_key = g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))


# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("what is the minimun temperature you would like for your trip? "))
max_temp = float(input("what is the maximum temperature you would like for your trip? "))

what is the minimun temperature you would like for your trip? 70
what is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faanui,PF,2022-07-21 16:32:20,-16.4833,-151.7500,77.22,73,19,12.39
10,10,Bengkulu,ID,2022-07-21 16:32:29,-3.8004,102.2655,75.63,92,72,4.23
12,12,Puerto Ayora,EC,2022-07-21 16:32:31,-0.7393,-90.3518,75.16,88,82,7.00
14,14,Salalah,OM,2022-07-21 16:32:33,17.0151,54.0924,77.09,94,100,5.75
18,18,Rikitea,PF,2022-07-21 16:32:36,-23.1203,-134.9692,74.55,73,36,12.15
21,21,Sao Filipe,CV,2022-07-21 16:32:38,14.8961,-24.4956,75.76,86,75,7.76
23,23,Malibu,US,2022-07-21 16:32:41,34.0050,-118.8101,88.16,82,48,4.90
27,27,Loa Janan,ID,2022-07-21 16:32:44,-0.5830,117.0950,73.62,99,88,1.66
28,28,San Cristobal,VE,2022-07-21 16:28:17,7.7669,-72.2250,78.98,75,97,6.82
29,29,Lorengau,PG,2022-07-21 16:32:45,-2.0226,147.2712,80.28,78,98,4.99

In [12]:
preferred_cities_df.count()

City_ID       274
City          274
Country       274
Date          274
Lat           274
Lng           274
Max Temp      274
Humidity      274
Cloudiness    274
Wind Speed    274
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Faanui      PF     77.22 -16.4833 -151.7500
10       Bengkulu      ID     75.63  -3.8004  102.2655
12   Puerto Ayora      EC     75.16  -0.7393  -90.3518
14        Salalah      OM     77.09  17.0151   54.0924
18        Rikitea      PF     74.55 -23.1203 -134.9692
21     Sao Filipe      CV     75.76  14.8961  -24.4956
23         Malibu      US     88.16  34.0050 -118.8101
27      Loa Janan      ID     73.62  -0.5830  117.0950
28  San Cristobal      VE     78.98   7.7669  -72.2250
29       Lorengau      PG     80.28  -2.0226  147.2712

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Faanui,PF,77.22,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
10,Bengkulu,ID,75.63,-3.8004,102.2655,Grage Hotel Bengkulu
12,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
18,Rikitea,PF,74.55,-23.1203,-134.9692,People ThankYou
21,Sao Filipe,CV,75.76,14.8961,-24.4956,Hotel Xaguate
23,Malibu,US,88.16,34.0050,-118.8101,Malibu Country Inn
27,Loa Janan,ID,73.62,-0.5830,117.0950,Kost bu jono
28,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
29,Lorengau,PG,80.28,-2.0226,147.2712,Lorengau Harbourside Hotel

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))